
.one, .three, .five{
    background-color: rgb(160, 23, 23);
    padding: 50px;
    font-size: 30px;
    width: 20px;
}
.two, .four, .six{
    background-color: rgb(12, 166, 177);
    padding: 50px;
    font-size: 30px;
    width: 20px;
}
/* flex content start */
/* .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
} */

/* flex content end */
/* .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
} */

/* flex content center */
/* .container{
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
} */
/* flex content space around */
/* .container{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
} */

/* flex content space between */
/* .container{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
} */
/* flex content space evenly */
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-evenly;
}