
.one, .three, .five{
    background-color: rgb(160, 23, 23);
    padding: 50px;
    font-size: 30px;
    width: 20px;
    max-height: 5px;
}
.two, .four, .six{
    background-color: rgb(12, 166, 177);
    padding: 50px;
    font-size: 30px;
    width: 20px;
}
/* align content flex-start*/
  .container{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}  
/* align content flex-end*/
 /* .container{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
}  */
/* align content center*/
/* .container{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
}  */
/* align content space-between*/
 /* .container{
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}  */
/* align content space-around*/
/* .container{
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
}  */
