
.one, .three, .five{
    background-color: rgb(160, 23, 23);
    padding: 50px;
    font-size: 30px;


}
.two, .four, .six{
    background-color: rgb(12, 166, 177);
    padding: 50px;
    font-size: 30px;
    
}
  .container{
    display: flex;
    flex-flow: row wrap;
   
}  
/* flex basis*/
/* .item{
    flex-basis: 100px;
} */
.one{
    flex-basis: 50px;
}
.two{
    flex-basis: 100px;
}
.three{
    flex-basis: 70px;
}
.four{
    flex-basis: 50px;
}
/*Best responsive property
flex: flex-grow flex-shrink flex-basis
*/
